<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/SignUp.css" />
    <style>
      body {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }
      form {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <form action="/api/auth/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="" required />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" value="" required />
      <input type="submit" value="Register" />
    </form>
    <p><%= message %></p>
  </body>
</html>
